.idea
.venv
bin/

Homo_sapiens.GRCh38.104.gtf
Homo_sapiens.GRCh38.104.sqlite
baleen_data.sif
working.RData

output/

Homo_sapiens.GRCh38.dna.primary_assembly.fa
Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
transcriptome.fa
transcriptome.fa.fai
